.col-xs-4{
	width:100px;
	height:100px;
	background-color:white;
	margin:2px;
	border: 10px solid red;
	color: black;
}

.container{
	margin:auto;
	width:30%;
	padding-top:10%;
	
}
.header{
	font-size: 36px;
	width:100%;
	text-align:center;
}

.row{
	width:100vw;
}

.player{
	font-size: 36px;
	width:100%;
	text-align:center;

}

.turn{
	display:inline-block;
}

body{
	background-color: green;
}

